mmdet==2.28.2
nuscenes-devkit==1.1.11
torchpack==0.3.1
numba==0.51.0  # 原文档 0.48.0 对 Python 3.8 支持不完整
numpy==1.22.0
prettytable==3.11.0
ninja==1.11.1.1
einops==0.8.0
yapf==0.40.0
pillow==8.4.0
Shapely==1.7.1

